@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');


$yellow: #faa427;
$darkGray: #5a6075;
$gray: #A6AEBE;
$black: #000000;
$white: #ffffff;
$font : 'Raleway', sans-serif;
$radius : 30px;
